.footer {
  padding-top: 1rem;
  background-color: rgb(17, 16, 16);
  height: 390px;
}

.footerContent {
  width: 100%;
  padding: 0.5rem 0 1.5rem 23rem;
  display: block;
}

.footerLogo {
  margin: 1rem 1rem 3rem 2rem;
  display: inline;
  align-items: center;
  width: 100px;
}

.fab {
  margin: 1.5rem 1rem 3rem 4rem;
  font-size: 22px;
  color: rgb(77, 74, 74);
  display: inline;
}

.aboutUs {
  display: grid;
  height: 50px;
  grid-template-columns: 20% 47%;
  grid-template-rows: repeat(2, 1fr);
}

.footerParagraph {
  width: 65%;
  margin-top: 2rem;
  font-size: 12px;
}

.fParagraph {
  color: rgb(187, 189, 192);
}

.hr {
  border: 0.05px solid rgb(82, 81, 81);
  width: 65%;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
